[project]
name = "realtimevoicechat"
version = "0.1.0"
description = "package"
requires-python = ">=3.11"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build.targets.wheel]
packages = ["."]
